*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{
  box-sizing: border-box;
}
body{
  margin: 0;
  
  background-color: #90a0db;
}
@font-face{
  font-family: letra1;
  src: url(/fonts/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
}
@font-face{
  font-family: cantora;
  src: url(/fonts/CantoraOne-Regular.ttf);
}
header {
  background-color: rgb(0, 0, 0);
}

header{
  max-width:1400px;
  margin: auto;

}

header .logo{
  margin: 0;
  padding: 25px 30px;
  font-weight: bold;
  color:  #fed95c;
  font-size: 2.5em;
  font-family: cantora;

}
header .contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
}
header nav{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 25px;
}
header a{
  padding: 5px 12px ;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  font-family: letra1;
}

header a:hover{
  color: #90a0db;
  transition: 0.5s;
  padding: 10px;
}
@media (min-width: 720px){
  header{
      position: fixed;
      width: 100%;
      margin-bottom: 40%;
      
      z-index: 4;
      
  }
  header a{
      font-size: 1.5em;
  }
  header .contenedor{
      flex-direction: row;
      justify-content: space-between;
  }
  header nav{
      flex-direction: row;
      padding-bottom: 0;
      padding-right: 25px;
  }
  
}

body {background:#90a0db;
    color: #fff;
    flex-wrap: wrap;
    /* display: flex; */
    justify-content: center;
    min-height: 100vh;    
    align-items: center;
}
@font-face{
    font-family: walter;
    src: url(/fonts/Philosopher-Regular.ttf);
}
@font-face{
    font-family:Retrochips ;
    src: url(/fonts/Retrochips.otf);
}
@font-face{
    font-family: cantora;
    src: url(/fonts/CantoraOne-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
  background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.62));
  border-radius: 8px;
  box-shadow: 0 12px 16px black;
  width: 250px;
  height: 400px;
  margin: 20px;
  display: inline-block;
  align-content: center;
}
/* .card:hover{
  transform: translateY(-2px);
} */
.card img{
  width: 100%;
  height: 250px;
  border-radius: 8px;
}

h4 , h2{
  font-size: 30px;
  font-family:cantora ;
  text-align: center;
  margin-bottom: 10px;
}
body p{
  font-size: 20px;
  text-align: center;
  font-family: cantora;
  margin-bottom: 5px;
}

i {
  color: black;
}
h2 {
  font-size: 15px;
}

button{
  width: 70px;
  height: 22px;
  font-size: 17px;
  cursor: pointer;
  color: black;
  font-family: cantora;
  text-align: center;
  
}

/* button:hover {
  box-shadow: 0 12px 16px 0 rgba(253, 253, 253, 0.799), 0 17px 50px 0 rgba(255, 255, 255, 0.69)
} */
.boton {
  background-color: blue;
  width: 70px;
  height: 22px;
  font-size: 18px;
  color: white;
  border-radius: 6px;
  border-color: #90a0db;
  align-content: center;
}
.iniciar{
  text-align: center;
  text-decoration: none;
  color: #fff;
}
i {
    color: black;
}
h2 {
    font-size: 15px;
}
 /* fin de pie de pagina */

#titulo{
    color: black;
    margin-top: 50px;
    margin-left: 40%;
}
.titulo {
    color: #fed95c;
   
    margin-bottom: 20%;

}
.titulo1 {
    color: #fed95c;
    font-size: 70px;
    
    font-family:cantora ;
}

.titulo2 { 
    color: white;
    font-family:cantora;
}
.pie-pagina{
  width: 100%;
  background-color: #000;
  padding-top: 20px;
  margin-top: 200px;
}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:50px;
  padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
  width: 250px;
}
.pie-pagina .grupo-1 .box h2{
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
  color: #efefef;
  margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #90a0db;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
  transform: scale(0.9);
}
.pie-pagina .grupo-2{
  background-color: #fed95c;
  padding: 15px 10px;
  text-align: center;
  color: #000;
  font-weight: bold;
}
.pie-pagina .grupo-2 small{
  font-size: 15px;
}
@media screen and (max-width:800px){
  .pie-pagina .grupo-1{
      width: 90%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap:30px;
      padding: 35px 0px;
  }
}