*{
    margin: 0;
}
/* creamos un diseño para el menu */
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    
    background-color: #90a0db;
}
@font-face{
    font-family: letra1;
    src: url(/fonts/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
}
@font-face{
    font-family: cantora;
    src: url(/fonts/CantoraOne-Regular.ttf);
}
header {
    background-color: rgb(0, 0, 0);
}

header{
    max-width:1400px;
    margin: auto;

}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color:  #fed95c;
    font-size: 2.5em;
    font-family: cantora;

}
header .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}
header a{
    padding: 5px 12px ;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    font-family: letra1;
}

header a:hover{
    color: #90a0db;
    transition: 0.5s;
    padding: 10px;
}
@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
        margin-bottom: 10%;
        margin-bottom: 200px;
        z-index: 4;
    }
    header a{
        font-size: 1.5em;
    }
    header .contenedor{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 25px;
    }
    
}
.menu{
    background: black;
    padding: 0;
    width: 100%;
    height: 60px;
    margin: auto;
    display: block;
    position: fixed;
    top: 0%;
    left: 0%;
    text-align: center;
    align-items: center;
}

.menu a{
    color: #fff;
    text-decoration: underline;
    display: block;
    display: inline-block;
    text-decoration: none;
    padding: 12px 10px;
    font-size: 16px;
    font-family:Retrochips ;
    margin-top: 10px;
}

.menu a:hover {
    color: #90a0db;
    transition: 0.5s;
    padding: 15px;
    border-radius: 5px;
}

h2 {
    font-size: 15px;
}
.menu p {
    float: left;
    color: #fed95c;
    font-size: 25px;
}

nav img{
    width: 80px;
    height: 70px;
    border-radius: 100%;
    float: right;}
img {
    width: 400px;
}

table{
    width: 600px;
    height: 200px;
    margin-left: 200px;
    margin-top: 100px;
}
.n{
    background-color: rgb(141, 138, 138);
    text-align: center;
}
/* #cont{
    background-color: rgb(0, 0, 0);
    width: 600px;
    height: 200px;
    border-radius: 8px;
    margin-left: 25%;
    
    justify-content: center;
    align-items: center;
} */
/* .cont input{
    margin-bottom: 10px;
    text-align: center;
    margin-left: 50px;
    border-radius: 7px;
    width: 180px;
    height: 17px;
} */
/* #cont label{
    font-size: 18px;
    display: flex;
    margin-left: 4%;
    margin-top: 2%;

    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    color: #fff;
}
#cont button{
    margin-left: 32%;
    margin-bottom: 15px;
}

#cont div{
    color: #fff;
    align-items: center;
    font-weight: 200;
    font-size: 20px;
    margin-left: 4px;
    text-transform: uppercase;
} */

.ta{
    height: 50px;
    margin-top: 300px;
    width: 925px;
    margin-left: 240px;
    padding: 20px;
    z-index: 2;
    margin-right: 200px;
    
}

h4{
    text-align: center;
}

 #uno {
    text-align: center;
    background-color: rgb(84, 107, 212);
    height: 30px;
}




.pri{
    margin-left: 14px;
    width: 875px;
    height: 80px;
    background-color: #ffff;
    position: absolute;
    top: 150px;
    left: 250px;
    border-radius: 3px;
    box-shadow:
    0px 8.7px 5.1px rgba(0, 0, 0, 0.027),
    0px 15.3px 19.4px rgba(0, 0, 0, 0.039),
    0px 22.8px 41.1px rgba(0, 0, 0, 0.047),
    0px 32.2px 68.8px rgba(0, 0, 0, 0.054),
    0px 45.4px 100.4px rgba(0, 0, 0, 0.061),
    0px 82px 124px rgba(0, 0, 0, 0.07);
}
.pri label{
    position: absolute;
    margin-left: 22px;
    margin-top: 15px;
}
#input{
    margin-top: 30px;
    height: 25px;
    margin-right: 00px;
}
.pri button{
    margin-left: 10px;
    background-color:#009cde ;
    width: 70px;
    height: 29px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}
.pri input, textarea{
    height: 21px;
    margin-top: 36px;
    margin-left: 10px;
}

.pri a{
    color: #009cde;
    font-size: 14px;
    margin-left: 4px;
}
.ta td{
    background-color: #fff;
    height: 20px;
    width: 925px;
    margin-left: 240px;
    padding: 8px;
    z-index: 2;
    margin-right: 200px;
        
    
}
