body {
    margin: 0;
    background-color: #90a0db;
}
*{
    box-sizing: border-box;
}
@font-face{
    font-family:letra1 ;
    src: url(/fonts/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
}

header {
    background-color: rgb(0, 0, 0);
}

header{
    max-width:1400px;
    margin: auto;

}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color:  #fed95c;
    font-size: 2.5em;
    font-family: cantora;

}
header .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}
header a{
    padding: 5px 12px ;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    font-family: letra1;
}

header a:hover{
    color: #90a0db;
    transition: 0.5s;
    padding: 10px;
}
@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
        margin-bottom: 100px;
    }
    header a{
        font-size: 1.5em;
    }
    header .contenedor{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 25px;
    }
    
}


.ref {
    text-align: center;
    position: absolute;
    left: 0%;
    right: 0%;
    align-items: center;
    height: 70px; 
    background-color: #fff;
    color: black;
    padding: 5px;
    font-family: cantora;
    margin-top: 150px;
}
h2 {
    font-size: 15px;
}
@font-face{
    font-family: cantora;
    src: url(/fonts/CantoraOne-Regular.ttf);
}

video{
    width: 600px;
    margin-left: 25%;
}
.intro{
    font-size: 30px;
    text-align: center;
}
.introduccion{
    font-size: 20px;
    text-align: justify;
    text-align:  center;
}
.objetivos{
    font-size:30px ;
    text-align: center;
}
.obj{
    font-size:20px ;
    text-align: justify;
    text-align: center;
}
.content{
    display: flex;
    flex-wrap: wrap;
}
.card{
    background-color: #fff;
    width: 30%;
    height: 70vh;
    margin: 10px;
    border-radius: 10px;
}
.container{
    padding: 12% 20px;
}
.title{
    background: #000000de;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 30px 0;
    color: #fff;
}
p{
    margin: 0 !important;
}
.pie-pagina{
    width: 100%;
    background-color: #000;
    padding-top: 20px;
    margin-top: 200px;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #90a0db;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    transform: scale(0.9);
}
.pie-pagina .grupo-2{
    background-color: #fed95c;
    padding: 15px 10px;
    text-align: center;
    color: #000;
    font-weight: bold;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}