*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    
    background-color: #90a0db;
}
@font-face{
    font-family: letra1;
    src: url(/fonts/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
}
@font-face{
    font-family: cantora;
    src: url(/fonts/CantoraOne-Regular.ttf);
}
header {
    background-color: rgb(0, 0, 0);
}

header{
    max-width:1400px;
    margin: auto;

}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color:  #fed95c;
    font-size: 2.5em;
    font-family: cantora;

}
header .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}
header a{
    padding: 5px 12px ;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    font-family: letra1;
}

header a:hover{
    color: #90a0db;
    transition: 0.5s;
    padding: 10px;
}
@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
        margin-bottom: 10%;
        margin-bottom: 200px;
        z-index: 4;
    }
    header a{
        font-size: 1.5em;
    }
    header .contenedor{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 25px;
    }
    
}
body{
  background:#90a0db;
  color: #fff;
            
/* le damos una fuente para la letra  */
   @font-face{
    font-family: cantora;
    src: url(/fonts/CantoraOne-Regular.ttf);
    }
    @font-face{
    font-family:Retrochips ;
    src: url(/fonts/Retrochips.otf);
    }
    @font-face{
    font-family: walter;
        rc: url(/fonts/Bontang.otf);
     }

 }
 * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.perfil-usuario {
    background: #90a0db;
    color: black;
}
.perfil-usuario .sombra {
    position: absolute;
    display: block;
    background: linear-gradient(transparent,rgba(0, 0, 0, .5));
    width: 100%;
    height: 50%;
    bottom: 0;
    left: 0;
}
.perfil-usuario .portada,
.perfil-usuario .sombra {
    border-radius: 0 0 20px 20px;
}

 .perfil-usuario img { /*DISEÑO DE LA IMAGEN */
    width: 100%;
}
.contenedor {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
.perfil-usuario .contenedor {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.perfil-usuario .portada {
    display: block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 20rem;
    margin-bottom: .5rem;
}

/* DISEÑO DE LA FOTO DE PERFIL */
.perfil-usuario .avatar {
    display: block;
    width: 230px;
    height: 230px;
    background-color: #D9DCF1;
    position: relative;
    bottom: -65px;
    left: 4rem;
    border-radius: 50%;
    overflow: hidden;
    border: 8px solid black;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, .2);
    z-index: 2;
}
.perfil-usuario .avatar:hover .cambiar-foto {
    transform: translateY(0);
    opacity: 1;
}
.perfil-usuario .cambiar-foto {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .5);
    height: 57%;
    bottom: 0;
    left: 0;
    color: #fff;
    text-decoration: none;
    transform: translateY(50%);
    opacity: 0;
    transition: all ease-in 200ms;
}
.perfil-usuario .cambiar-foto i {
    margin-bottom: .5rem;
    font-size: 2rem;
}
/* FIN DEL DISEÑO */

/* DISEÑO DEL NOMBRE Y BIOGRAFIA */
.perfil-usuario .datos {
    position: absolute;
    display: block;
    width: calc(100% - 230px - 8rem);
    right: 0;
    bottom: 0;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, .2);
    padding-bottom: 1rem;
    padding-right: 1rem;
}
.perfil-usuario .titulo {
    font-size: 2.3rem;
    white-space: nowrap;
    margin-bottom: .5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
}
.perfil-usuario .biografia {
    font-size: 1em;
    margin-bottom: .75rem;
}
/* FIN DEL DISEÑO */

/* .perfil-usuario .lista-perfil {
    list-style: none;
}
.perfil-usuario .lista-perfil li {
    display: inline-block;
    font-size: 1em;
    margin-right: 1rem;
} */



.perfil-usuario .opcciones-perfil {
    display: block;
    position: absolute;
    right: 2rem;
    top: 1rem;
}
.perfil-usuario .opcciones-perfil button {
    border: 0;
    padding: 8px 20px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    cursor: pointer;
}

/* DISEÑO DEL MENU */
.perfil-usuario .menu-perfil ul {
    display: flex;
    list-style: none;
    margin-left: calc(200px + 8rem);
    width: calc(100% - 200px - 8rem);
}
.perfil-usuario .menu-perfil ul li {
    margin-right: 1rem;
}
.perfil-usuario .menu-perfil a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 8px 20px;
    font-weight: bold;
    border-radius: 8px;
    transition: all ease-in 100ms;
}
.perfil-usuario .menu-perfil a:hover {
    background-color: white;
    color: black;
}
/* FIN DEL DISEÑO */


/* @media (max-width: 780px) {
    .perfil-usuario .contenedor {
        width: 100%;
    }
    .perfil-usuario .avatar {
        left: calc(50% - 115px)
    }
    .perfil-usuario .datos {
        bottom: 200px;
        left: 0;
        width: 100%;
        padding: 15px;
        text-align: center;
    }
    .perfil-usuario .biografia {
        font-size: 1em;
        overflow:hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .perfil-usuario .titulo {
        font-size: 2.1rem;
    }
    .perfil-usuario .portada {
        height: 28rem;
    }
    .perfil-usuario .menu-perfil ul {
        flex-direction: column;
    }
    .perfil-usuario .lista-perfil {
        display: block;
    }
    .perfil-usuario .menu-perfil {
        margin-top: 2rem;
    }
    .perfil-usuario .menu-perfil ul {
        display: flex;
        list-style: none;
        margin-left: auto;
        margin-right: auto;
        padding-top: 2.5rem;
        width: 70%;
        background-color: #fff;
        border-radius: 12px;
        box-shadow: 0 0 12px 2px rgba(0, 0, 0, .1);
    }
} */


/* .mensaje a {
    color: inherit;
    margin-right: .5rem;
    display: inline-block;
}
.mensaje a:hover {
    color:black;
    transform: scale(1.4)
} */

.container{
    margin-left: 300px;
    margin-top: 30px;
    background: linear-gradient(transparent,rgba(0, 0, 0, .5));
    width: 400px;
    padding-left: 20px; /*ayuda a poner la letra a los lados */
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    height: 260px;
    padding-top: 20px;
    width: 580px;
    border-radius: 5px 5px 20px 20px;
}
.container label{
    list-style: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    /* font-weight: bold; */
    font-size: 25px;
    margin-bottom: 10px;
    font-family: grape;
    text-align: center;
}
.pie-pagina{
    width: 100%;
    background-color: #000;
    padding-top: 20px;
    margin-top: 200px;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #90a0db;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    transform: scale(0.9);
}
.pie-pagina .grupo-2{
    background-color: #fed95c;
    padding: 15px 10px;
    text-align: center;
    color: #000;
    font-weight: bold;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}