/* button{
    background-color: black;
    color: blanchedalmond;
    width: 80px;
    height: 30px;
} */
table{
    border-radius: 50px;
    font-style: normal;
    font-family: sunmora;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    border-color: #fff;
    width: 580px;
}
body{background-color: #90a0db;
}

@font-face{
    font-family: sunmora;
    src: url(/fonts/Sunmora-Bold.ttf);
}
@font-face{
    font-family: cantora;
    src: url(/fonts/CantoraOne-Regular.ttf);
}
p {
    color: white;
    font-family: sans-serif;
    font-size: 15px;
}

h4{color: white;}

small, a{
text-decoration: none;
font-family: sans-serif ;
font-size: 15px;
}
select, option{
    width: 210px;
    height: 30px;
}
input {
    width: 200px;
    height: 25px;
}
button{
    width: 130px;
    height: 35px;
    font-size: 15px;
    cursor: pointer;
}
.boton {
    background-color: blue;
    width: 200px;
    height: 40px;
    font-size: 20px;
    color: white;
    border-radius: 6px;
    border-color: #90a0db;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 10px 10px 0 rgba(253, 253, 253, 0.658), 0 10px 10px 0 rgba(255, 255, 255, 0.69)
}

fieldset {
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    border-color: aliceblue;
    width: 600px;
}
 h1 {
     font-size: 25px;
     color: burlywood;
     font-family: sunmora;
 }
 .menu{
    background: black;
    padding: 0;
    width: 100%;
    height: 70px;
    margin: auto;
    display: block;
    position: fixed;
    top: 0%;
    left: 0%;
    text-align: center;
}

.menu a{
    color: whitesmoke;
    background-color: black;
    text-decoration: underline;
    display: block;
    display: inline-block;
    text-decoration: none;
   padding: 12px 10px;
   font-size: 16px;
   font-family:Disney ;
}

.menu a:hover {
    background: #90a0db;
}
@font-face{
    font-family:Disney ;
    src: url(/fonts/Retrochips.otf);
}
.logo{
    width: 90px;
    height: 80px;
    
    float: left;
}

nav img{
    width: 90px;
    height: 80px;
    border-radius: 100%;
    float: right;}
img {
    width: 100px;
}
.ref {
    text-align: center;
    position: sticky;
    top: 110%;
    height: 70px; 
    flex-flow: column; 
    background-color: #fff;
    color: black;
    margin-top: 180px;
    
    padding: 3px;
    font-size: 15px;
}
h2 {
    font-size: 15px;
    color: black;
}