*{
    margin: 0;
}
body{
    background: #90a0db;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
nav{
    background: #000;
    display: flex;
    justify-content: space-between;
<<<<<<< HEAD
    height: 20%;
    padding: 0 14px 18px;
=======
    height: 15vh;
>>>>>>> 457ebbe5ffeb7423a29f2991548f5580245b9904
}
.navbar{
    width: 55%;
    display: flex;
    justify-content: space-around;
<<<<<<< HEAD
    margin: 0 0 0 20%;
    padding: 10px;
}
@font-face{
    font-family: niagato;
    src: url("/css/Niagato.ttf");
    font-weight: fold;
=======
    margin: 0 20%;
    padding: 20px;
>>>>>>> 457ebbe5ffeb7423a29f2991548f5580245b9904
}
.navbar a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-top: 35px;
<<<<<<< HEAD
    font-family: niagato;
    font-size: 25px;
    margin-left: 0px;
=======
>>>>>>> 457ebbe5ffeb7423a29f2991548f5580245b9904
}
.navbar a:hover{
    color: #90a0db;
}
.logo{
    width: 90px;
    height: 80px;
    margin-top: 15px;
}
img{
    width: 230px;
<<<<<<< HEAD
    margin: 0% 0% 0 2%;
}
#panel{
    height: auto;
}
#logo{
    width: 60%;
}
#Alf{
=======
    margin: 0% 5% 0 2%;
}
#panel{
    margin: 10px;
    padding: 10px;
}
#logo{
    width: 30%;
}
b{
>>>>>>> 457ebbe5ffeb7423a29f2991548f5580245b9904
    color: #fed95c;
    font-family: "Cantora One", "Source Sans Pro", _fb_;
    font-size: 79.1733px;
    margin: 5%;
}
.svg-item{
    margin: 0px;
<<<<<<< HEAD
    padding: 20px 10px 0 10px;
=======
    padding: 0px;
>>>>>>> 457ebbe5ffeb7423a29f2991548f5580245b9904
    border: 0px;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    display: inherit;
    height: 100%;
    width: 100%;
    left: 24%;
    top: 23%;
    width: 134.317px;
    height: 134.317px;
    position: absolute;
    transform: rotate(0deg);
    z-index: 14;
    background: #000;
    border-radius: 100%;
}
.forms{
    background: #000;
<<<<<<< HEAD
    margin: 0 30%;
    height: 80vh;
    padding: 15px 25px 5px 25px;
=======
    margin: 0 27%;
    height: 80vh;
    padding-top: 2px;
>>>>>>> 457ebbe5ffeb7423a29f2991548f5580245b9904
    border-radius: 5%;
}
label{
    font-family: fantasy;
    color: #d2ff0a;
    font-size: 40px;
}
form{
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 15% 10%;
}
input{
    height: 37px;
}
button{
<<<<<<< HEAD
    width: 100%;
    height: 43px;
    background: #d2ff0a;
    border-radius: 5%;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    padding: 0 16px;
    line-height: 48px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}
.oneBlock{
    width: 50%;
    margin: 10px 10px 25px 10px;
    padding: 8px;
}
.twoBlock{
    width: 50%;
}
#title{
    font-size: 50px;
    color: #FFF;
}
.foot{
    background: #000;
    height: 20.6%;
    position: sticky;
    top: 100%;
    color: #FFF;
    text-align: center;
    padding: 2%;
}
#alf{
    font-family: system-ui;
    color: #fbff0a;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
}
.twoBlock > i{
    position: relative;
    left: 31%;
    color: #FFF;
}
.threeBlock{
    background: rgb(37, 37, 37);
    padding: 2%;
}
.threeBlock > h1{
    text-align: center;
    font-family: niagato;
    margin-bottom: 38px;
    font-size: 35px;
}
#usuario, #password{
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
    height: 22px;
    line-height: 16px;
}
.form{
    border-bottom: .7px solid rgb(71, 71, 71);
    height: 75%;
}
#panel > div{
    padding: 2% 0;
}
.container{
    text-align: center;
    margin: 60px 0 0 30px;
    display: flex;
    align-items: center;
    position: relative;
    left: 14%;
}
#carousel{
    width: 350px;
    height: 100%;
}
.carousel{
    height: auto;
    width: 350px;
    vertical-align: middle;
    margin: 0 8px 0 8px;
}
.slider{
    cursor: pointer;
}
.slider:hover{
    color: #FFF;
=======
    width: 28%;
    position: relative;
    left: 35%;
    height: 43px;
    border: 4px solid #d2ff0a;
    border-radius: 5%;
>>>>>>> 457ebbe5ffeb7423a29f2991548f5580245b9904
}