*{
    box-sizing: border-box;
}
body{
    margin: 0;
    
    background-color: #90a0db;
}
@font-face{
    font-family: letra1;
    src: url(/fonts/MADE\ TOMMY\ Regular_PERSONAL\ USE.otf);
}
@font-face{
    font-family: cantora;
    src: url(/fonts/CantoraOne-Regular.ttf);
}
header {
    background-color: rgb(0, 0, 0);
}

header{
    max-width:1400px;
    margin: auto;

}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color:  #fed95c;
    font-size: 2.5em;
    font-family: cantora;

}
header .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}
header a{
    padding: 5px 12px ;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    font-family: letra1;
}

header a:hover{
    color: #90a0db;
    transition: 0.5s;
    padding: 10px;
}
@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
        margin-bottom: 10%;
        margin-bottom: 200px;
    }
    header a{
        font-size: 1.5em;
    }
    header .contenedor{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 25px;
    }
    
}
table{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 100px 12px;

    
}
.formulario h2{
    font-weight: bold;
    color:  #fed95c;
    font-family: cantora;

}
.formulario fieldset {
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    border-color: aliceblue;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    width:200px ;
    margin-top: 12px;
    height: 25px;
}
select{
    width: 200px;
    height: 23px;
}
.boton {
    background-color: blue;
    width: 200px;
    height: 30px;
    font-size: 120%;
    color: white;
    border-radius: 6px;
    border-color: #fff;
    margin-top: 12px;
    cursor: pointer;
}
.formulario p{
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    font-family: letra1;
}
.formulario a{
    color: rgb(152, 60, 237);
    text-decoration: none;
    padding: 10px;
    text-decoration: none;
}
.minilogo{
    float: right;
}
#Mostrar{
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    width: 400px;
    text-align: center;
    padding: 0;
    color: #fff;
    font-family: sans-serif;
    margin-left: 35%;
    border-radius: 10px;
}
#Mostrar button{
    width: 80px;
    height: 25px;
    background-color: blue;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
#Mostrar h3{
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}
.referencias {
    text-align: center;
    position: absolute;
    left: 0%;
    right: 0%;
    align-items: center;
    height: 70px; 
    background-color: #fff;
    color: black;
    padding: 5px;
    font-family: cantora;
    margin-top: 100px;
    

}
.referencias h2{
    font-size: 20px;
    margin-top: 2px;
    font-weight: bold;
    font-family: sans-serif;
}

