/* button{
    background-color: black;
    color: blanchedalmond;
    width: 80px;
    height: 30px;
} */
table{
    background-color: black;
    border-right: 100%;
    border-color: white;
    width: 550px;
    height: 300px;
    border-radius: 50px;
}
body{background-color: #90a0db;
font-family: Arial, Helvetica, sans-serif;}

p {
    color: yellow;
}

h4{color: white;}

small, a{
text-decoration: none;}
select, option{
    width: 150px;
    height: 25px;
}
